.container-cards {
  display: flex;
  gap: 1.875rem;
  flex-wrap: wrap;
  max-width: min-content;
  /* flex: 0 0 375px; */
}
.card {
  padding: 90px;
  text-align: center;
  cursor: pointer;
  color: var(--cor-fonte-destaque);
  border-radius: 0.625rem; 
  background: var(--cor-cards); 
  box-shadow: var(--cor-sombra-cards);
  border: none;
  transition: .3s;
}
.card:last-child {
  background: var(--cor-contraste); 
}
.card:hover {
  scale: 1.1;
}

h2 {
  min-width: 400px;
  white-space: nowrap;
}