body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.875rem;
  background-color: var(--cor-backgroung-body);
  color: var(--cor-fonte-padrao);
}

/* Alerta de erro */
.alerta p {
  margin-bottom: 0;
}
.alerta.desativado {
  display: none !important;
}
.alerta {
  margin-bottom: 0;
  opacity: 0;
  transition: .3s;
}
.alerta.ativo {
  opacity: 1;
}
