.main-conteudo {
  height: 100%;
  /* padding: 60px 0; */
}
.main-conteudo {
  display: flex;
  place-content: center;
  align-items: center;
}

.conteudo-principal > div{
  display: flex;
  gap: 1.875rem;
  justify-content: center;
}

h1 {
  text-align: center;
}